<%= form_for(requete) do |f| %>
  <% if requete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requete.errors.count, "error") %> prohibited this requete from being saved:</h2>

      <ul>
      <% requete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %>
    <%= f.text_field :nom %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
