<p id="notice"><%= notice %></p>

<h1>Requetes</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requetes.each do |requete| %>
      <tr>
        <td><%= requete.nom %></td>
        <td><%= link_to 'Show', requete %></td>
        <td><%= link_to 'Edit', edit_requete_path(requete) %></td>
        <td><%= link_to 'Destroy', requete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requete', new_requete_path %>
