<p id="notice"><%= notice %></p>

<h1>Sites</h1>

<div class="row">
<div class="col-md-6">
<table class="table"> 

    <% @sites.each do |site| %>
    <tr>
        <td><%= site.web %></td>
        <td>
        <%= link_to 'Requêtes', site, class: "btn btn-xs btn-default" %>
        <%= link_to 'Graphes', 'http://aitoweb.fr/outils/graphe.php?site='+site.web, target: :_blank, class: "btn btn-xs btn-default" %>
        <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, 
        class: "btn btn-xs btn-default" %>
        </td>
    </tr>
   <% end %>      

</table>
</div>
</div>

