<p id="notice"><%= notice %></p>
<h1><%= @site.web %></h1>
<h3>Requêtes actuelles :</h3>
<div class="row">
  <div class="col-md-2">
    <table class="table">

      <% @site.registres.each do |registre| %>
      <tr>
        <td><%= registre.requete.nom %></td>
        <td><%= link_to "delete", registre, method: :delete, confirm: "You sure?", class: "btn btn-xs btn-danger"  %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<h3>Ajouter une requête :</h3>
<div class="row">
  <div class="col-md-2">
    <%= form_for([@site, @site.registres.build]) do |f| %>
    <p>
      <%= f.collection_select(:requete_id, Requete.all, :id, :nom, {:include_blank => true}, {:class =>"form-control"}) %>
    </p>
    <p>
      <%= f.submit 'Ajouter', :class => "btn btn-sm btn-primary"  %>
    </p>
    <% end %>
  </div>
</div>
</div>
