<p id="notice"><%= notice %></p>

<p>
  <strong>Web:</strong>
  <%= @site.web %>
</p>
<p>
  <strong>Requetes :</strong>
<ul>
<%= render @requete %>
</ul>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
