<!DOCTYPE html>
<html>
  <head>
    <title>AITO RANK</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= home_path %>">AITO RANK</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
           <% if admin? %>

            <li class="dropdown">
            <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sites<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                   <li><%= link_to "Voir", sites_path %></li>
                   <li><%= link_to "Ajouter",  new_site_path %> </li>
                  </ul>
             </li>
             <li class="dropdown">
 			<a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Requêtes<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                   <li><%= link_to "Voir", requetes_path %></li>
                   <li><%= link_to "Ajouter",  new_requete_path %> </li>
                  </ul>

             </li> 
            
                    <li><%= link_to "Deconnecter", '/logout' %></li>
            <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="container">
      <%= yield %>
        <hr class="featurette-divider">
              <footer class="footer">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Aito Rank 2017</p>
                </div>
            </div>
        </footer> 

        <%= debug(params) if Rails.env.development? %> 
    </div>

  </body>
</html>